<p>Current Time: <%=  sec%></p>   

<ul>
    <% for( let index = 0; index < car.length; index++ ) { %>
        <li>
            <%= car[index] %>
        </li>
    <% } %>
</ul>

<p><%- content  %></p>
<p><%= content  %></p>
