<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipes</title>
    <link rel="stylesheet" href="styles/style.css">
    <%- include('./partials/head') %>
</head>
<body class="magicpattern">
    <div>
        <form class="menu" action="/submit" method="post">
            <input type="button" value="ðŸ¥©">
            <input type="button" value="ðŸŸ">
        </form>
    </div>
    
</body>
</html>